<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Mostrar Opción</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>


<body>

<div class="container">

    <button class="btn btn-md btn-warning btn-block" type="Submit">Detalle de la Opcion</button>
    <table class="table table-striped">
        <tr>
            <th> Opciones  </th>
            <th> Restaurante </th>
        </tr>
        <tr>
            <td th:text="${choice.nombre_Opcion}">   </td>
            <td th:text="${choice.category_restaurant.name}"> </td>
        </tr>
    </table>

</div>
</body>


</html>