<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>RESTAURANT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h2 class="btn btn-md btn-warning btn-block" type="Submit">Detalles Pais</h2>
    <table class="table table-striped">

        <tr>
            <th>Nro Id</th>
            <th>Nombre Pais</th>

        </tr>

        <tr>
            <td th:text="${pais.id}" > </td>
            <td th:text="${pais.nombre_pais}" > </td>

        </tr>


    </table>
</div>
</body>
</html>