<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Registrar restaurant </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2 class="btn btn-md btn-warning btn-block" type="Submit">Pais</h2>
    <div>
        <form class="form-horizontal" th:object="${pais}" th:action="@{/admin/pais/edited}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nombre_pais}"/>
                </div>
            </div>









            <div class="row">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Registrar</button>
            </div>
        </form>
    </div>
    <a th:href="${'/admin/paises'}">Volver vista de restaurantes</a>

</div>
</body>
</html>