<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Lista de restaurantes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<a th:href="${'/admin/pais/new'}">Restaurante Nuevo</a>

<div class="container">
    <div th:if="${not #lists.isEmpty(paises)}">





        <h1>Lista de paises</h1>



        <form th:action="@{/admin/pais/new}" method="get">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Registrar Pais nuevo</button>
        </form>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="pais : ${paises}">
                <td th:text="${pais.id}"><a href="/admin/pais/${pais.id}">Id</a></td>
                <td th:text="${pais.nombre_pais}">Nombre</td>
                               <!-- MOSTRAR BOTONES [DETALLES] - [MODFICAR] - [ELIMINAR] -->
                <td><a th:href="${'/admin/pais/' + pais.id}">Detalles</a></td>
                <td><a th:href="${'/admin/pais/edit/' + pais.id}">Editar</a></td>
                <td><a th:href="${'/admin/pais/delete/' + pais.id}">Eliminar</a></td>
            </tr>
        </table>

        <a th:href="${'/admin/home'}">Volver menu principal</a>

    </div>
</div>
</body>
</html>